{% extends 'base.html.twig' %}

{% block title %}Mon compte | QuickEat{% endblock %}

{% block body %}
<div class="container mt-4 mb-4">
    <hr>
    <div class="d-flex justify-content-center">
    <h1>Mon compte</h1>
    </div>
    <hr>
    <h4>Informations :</h4>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <p>Prénom : {{app.User.name }}</p>
                <p>Nom : {{app.User.firstname }}</p>
                <p>Email : {{app.User.email }}</p>
            </div>
            <div class="col-sm">
                <p>N° de l'adresse : {{app.User.localisation.number }}</p>
                <p>Adresse : {{app.User.localisation.address }}</p>
                <p>Ville : {{app.User.localisation.city }}</p>
                <p>Code postal : {{app.User.localisation.Postalcode }}</p>
                <p>Pays: {{app.User.localisation.country }}</p>
            </div>
        </div>
    </div>
    <hr>
    <div class="row mb-5 mt-4">
        <div class="col d-flex justify-content-end">
            <a href="{{ path('account_edit', {'id': app.User.id}) }}" class="btn btn-primary mr-2">Modifier informations</a>
            <a href="#" class="btn btn-primary mr-2">Modifier mot de passe</a>
        </div>
    </div>

</div>
{% endblock %}
