{% extends 'base.html.twig' %}

{% block title %}Accueil | QuickEat{% endblock %}

{% block body %}


<div style="background: url({{ asset('testimg/img.jpg') }})" class="jumbotron bg-cover text-white">
    <div class="container py-5 text-center">
        <h1 class="display-4 font-weight-bold">Quick Eat</h1>
    </div>
</div>


<div class="container card mb-5">
<div class="card-body">

<div class="mt-2 mb-4">
  {{ form_start(form) }}
    <div class="col-md-4">
      {{ form_row(form.ville) }} 
    </div>
    <div class="col-md-4">
      {{ form_row(form.name) }} 
    </div>
    <div class="col-md-4">
      {{ form_row(form.categories) }} 
    </div>
  <button type="submit" class="btn btn-primary">Soumettre</button>
  {{ form_end(form) }}
</div>
</div>
</div>


<div class="container my-5 d-flex flex-wrap justify-content-start">

{% for restaurant in restaurants %}
    <div class="card mx-3 my-3" style="width: 20rem;">
    <img src="{{ asset('testimg/card.jpg') }}" class="card-img-top" alt="{{ asset('testimg/card.jpg') }}">
    <div class="card-body">
        <h5 class="card-title">{{ restaurant.name }}</h5>
        <p class="card-text">{{ restaurant.categories }}</p>
        <p class="card-text">{{ restaurant.localisation.city }}</p>
        <a href="/restaurant/{{ restaurant.id }}" class="btn btn-primary">En savoir+</a>
    </div>
    </div>
{% endfor %}
</div>

{% endblock %}
