{% extends 'base.html.twig' %}

{% block title %}new{% endblock %}

{% block body %}

   <div class="container mt-3 mb-3">
        <form method="post">
            <hr>
            <div class="d-flex justify-content-center">
                <h1>Nouveau Restaurant</h1>
            </div>
            <hr><div class="container">
        {{ form_start(new_restaurateur) }}
            {{ form_row(new_restaurateur.name) }}
            {{ form_row(new_restaurateur.categories) }}
            <hr class="mt-3 ">
            <h3 class="mb-3">Coordonnées :</h3>
            {{ form_row(new_restaurateur.localisation.country) }}
            {{ form_row(new_restaurateur.localisation.number) }}
            {{ form_row(new_restaurateur.localisation.address) }}
            {{ form_row(new_restaurateur.localisation.city) }}
            {{ form_row(new_restaurateur.localisation.postalCode) }}
            <div class="row mb-5 mt-5">
                <div class="col d-flex justify-content-end">
                    <button class="btn btn-primary">Valider</button>
                </div>
            </div>
        </form>
        {{ form_end(new_restaurateur) }}
    </div>
    </div>


{% endblock %}
